<div>
  <ul *ngIf="projects; else loading" class="uk-list uk-list-divider">
    <li *ngFor="let project of projects" (click)="openLink(project)">
      <span class="uk-align-right uk-label" *ngIf="project.status=='active'">
        {{ project.status | status }}
      </span>
      <span class="uk-text-bold">{{ project.name }}</span>
      <span class="uk-text-small uk-text-muted">#{{ project.code }}</span>
      <br /><span class="uk-text-small">{{ project.desc }}</span>
    </li>
  </ul>
  <ng-template #loading>
    <div uk-spinner></div>
  </ng-template>
</div>

<hr />

<div class="uk-text-italic uk-text-small uk-text-muted">
  <span uk-icon="future"></span> Mis à jour le {{ updated | date }}
</div>
