<div>
  @if (projects) {
    <ul class="uk-list uk-list-divider">
      @for (project of projects; track project) {
        <li (click)="openLink(project)">
          @if (project.status=='active') {
            <span class="uk-align-right uk-label">
              {{ project.status | status }}
            </span>
          }
          <span class="uk-text-bold">{{ project.name }}</span>
          <span class="uk-text-small uk-text-muted">#{{ project.code }}</span>
          <br /><span class="uk-text-small">{{ project.desc }}</span>
        </li>
      }
    </ul>
  } @else {
    <div uk-spinner></div>
  }
</div>

<hr />

<div class="uk-text-italic uk-text-small uk-text-muted">
  <span uk-icon="future"></span> Mis à jour le {{ updated | date }}
</div>
