<div class="wrapper">
  <div class="menu">
    <h1><em>Menencia</em>'s homepage</h1>
    <!--nav>
      <ul>
        <li><a href="#/projects" ng-class="{ current: isActive('/projects')}">projets</a></li>
      </ul>
    </nav-->
  </div>

  <div class="page">
    <div class="projects">
      <ul>
        <li
          *ngFor="let e of projects | async"
          class="project"
          (click)="openLink(e)"
        >
          <span class="status right" [class.active]="e.active">{{ e.active | status }}</span>
          <span class="name">{{ e.name }}</span>&nbsp;
          <span class="code">#{{ e.code }}</span>
          <br /><span class="desc">{{ e.desc }}</span>
        </li>
      </ul>
    </div>

    <div class="update">
    — Mis à jour le <strong>24 février 2018</strong>
    </div>
  </div>

</div>
