/* You can add global styles to this file, and also import other style files */

@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #444;
    background: url(/assets/bg.jpg) fixed no-repeat bottom right;
    background-size: 300px;
}

.wrapper {
    width: 1050px;
    margin: auto;
    margin-top: 30px;
}

.page {
    display: inline-block;
    width: 600px;
    vertical-align: top;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    margin-top: 0;
}

h1 em {
    color: #277099;
    font-style: normal;
}

.right {
    float: right;
}

/* MENU */

.menu {
    display: inline-block;
    width: 280px;
    vertical-align: top;
}

nav a {
    color: #277099;
}

nav a.current {
    color: #444;
    text-decoration: none;
}

nav a.current::before {
    content: "[";
}

nav a.current::after {
    content: "]";
}

nav a.current:hover::before , nav a.current:hover::after {
    font-weight: bold;
}

/* PROJECTS */

.project {
    padding: 5px 5px 15px 5px;
    position: relative;
    cursor: pointer;
}

.project:hover {
    background-color: #eee;
}

.code {
    font-weight: bold;
    display: none;
}

.project:hover .code {
    display: inline;
}

.project:hover::before {
    content: " ";
    width: 30px;
    height: 16px;
    background: url(/assets/cursor.png);
    position: absolute;
    top: 12px;
    left: -32px;
}

.desc {
    font-size: 14px;
}

.status {
    font-size: 12px;
    color: #fff;
    background-color: #999;
    border-radius: 5px;
    padding: 3px;
    text-transform: uppercase;
}

.active {
    background-color: #277099;
}

.update {
    margin-top: 50px;
    font-size: 10px;
}
